<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:fragment="linkBootstrap">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
</head>

<header th:fragment="cabecalho">
    <nav class="navbar navbar-light navbar-expand-sm shadow fixed-top" id="nav" style="background-color: #e3f2fd;">
        <div class="container">
            <h2><strong>Eletrodomestico</strong></h2>
            <a href="/"><strong>Home</strong></a>
            <a href="/admin"><strong>Admin</strong></a>
            <a href="/cadastro"><strong>Cadastro</strong></a>
        </div>
    </nav>
</header>

<footer th:fragment="rodape">
    <footer id="sticky-footer" class="py-4 text-black-50" style="background-color: #e3f2fd;">
        <div class="container text-center">
            <small><strong>Feito por Clara Nadini &copy; Todos os direitos reservados</strong></small>
        </div>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>
    </footer>
</footer>

</html>